@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --rojito: #D53867;
}

body{
    font-family: 'Lobster';
    background-color: #001220;

}

.contador{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 1vh;
    right: 1vh;
}
span{
    padding: 30px 30px;
    background-color: var(--rojito);
    border-radius: 50%;
    font-size: 30px;
    color: white;
}
#racha{
    padding: 20px 30px;
}
h3{
    font-size: 3rem;
    color: white;
}
.sumadora{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}
.sumadora__content{
    width: 400px;
    border-radius: 20px;
    padding: 30px 40px;
    height: 150px;
    background-color: var(--rojito);
    text-align: center;
}

.numeros{
    background-color: var(--rojito);
    width: 300px;
    height: 60px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.numeros__content div{
    font-size: 50px;
    color: white;
}
.numeros__content{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input{
    border: none;
    padding: 10px 30px;
    margin-right: 7px;
    border-radius: 8px;
    font-size: 19px;
    font-family: 'Lobster';
    display: inline-block;
}
.sumadora__inputs{
    padding-bottom: 20px;
}
button{
    padding: 10px 30px;
    border: none;
    border-radius: 9px;
    font-family: 'Lobster';
    font-size: 20px;
    background-color: #001220;
    color: white;
    cursor: pointer;
}